*{
   margin: 0px;
   padding: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.Navbar{
   width: 100vw;
   height: 10vh;
   background-color: rgb(215, 215, 215);
   box-shadow: 0 0px 8px 2px black;
}
.Navbar img{
    margin-top: 15px;
    margin-left: 50px;
}
.nav-items{
    position: absolute;
    left: 76%;
    top: 20px;
} 
.nav-items button{
    background-color: rgb(69, 33, 211);
    border: none;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    border-radius: 50px;
}
.mysize{
    font-size: 17px;
    color: white;
    
}
.bt{
    height: 35px;
    width: 35px;
    margin: 20px;
    border: 0.5px solid blue;
    border-radius: 4px;
    cursor: pointer;
}




.sidebar2{
    background-color: white;
    z-index: 1111;
    position: absolute;
    
    top: 145px;
    left: 10px;
    height: 122vh;
    width: 7vw;
    border:0.5px solid grey;
    color: white;
    border-radius: 5px;
}
.title2{
    background-color: black;
    padding-top: 5px;
    padding-left: 20px;
    height: 60px;
    font-size: 1.2rem;
}
.sidebar{
    background-color: white;
    z-index: 1111;
    position: absolute;
    display: none;
    top: 145px;
    left: 10px;
    height: 122vh;
    width: 20vw;
    border:2px solid black;
    color: white;
}
.title{
    background-color: black;
    padding-top: 5px;
    text-align: center;
    height: 60px;
    font-size: 1.2rem;
}

.list{
    margin-top: 20px;
    font-size: 2.2rem;
    padding-bottom: 10px;
    padding: 10px;
}

.demotask{
    font-size: 1.2rem;
    height: 50px;
    width: 100%;
    color: black;
    padding: 20px;
    font-weight: 800;
}
.list ul li{
    color: black;
    
    border-top: 0.5px solid black;
    font-size: 1rem;
    line-height: 40px;
    /* text-align: center; */
    text-decoration: dotted;
}

.list ul{
    padding-left: 80px;
    color: black;
    padding-right: 50px;
    text-decoration: dotted;
}










input::placeholder {
    /* color: red; */
    font-size: 1.0em;
    /* font-style: italic; */
    position: absolute;
    top: 5px;
    left: 3px;
    
  }
.top_container{
    height: 60px;
    width: 75vw;
    position: relative;
    left: 180px;
    top: 80px;
    /* border: 2px solid rgb(119, 84, 84); */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(47, 115, 242);
    padding-left: 30px;
    padding-top: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    height: 360vh;
    width: 75vw;
    position: relative;
    left: 180px;
    top: 80px;
    border: 1px solid rgb(140, 136, 136);
}
#demo{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.3rem;
}



.top{
    height: 30px;
    width: 330px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: black;
    color: white;
    padding: 7px;
    font-weight: 600;
    text-align: center;
}

.heading_1_top{
   
    /* border: 1px solid red; */
    position: absolute;
    top: 159px;
    left: 125px;
   
}

.heading_1{
    height: 200px;
    width: 330px;
    /* border: 1px solid rgb(147, 143, 143); */
    position: absolute;
    top: 189px;
    left: 125px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    font-weight: 600;
    box-shadow: 0 0 10px 1px grey;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.arrow_h1{
    position: relative;
    top: 30px;
    left: 220px;
    
}

.heading_2_top{
    
    /* border: 1px solid red; */
    position: absolute;
    top: 159px;
    left: 525px;
    width: 360px;
    
}
.heading_2{
    height: 500px;
    width: 360px;
    /* border: 1px solid rgb(147, 143, 143); */
    position: absolute;
    top: 189px;
    left: 525px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    font-weight: 600;
    box-shadow: 0 0 10px 1px rgb(186, 186, 186);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.thread{
    margin-top: 20px;
    text-align: center;
    /* border: 2px  solid red; */
    border-top:0.5px solid rgb(188, 187, 187);
    border-bottom:0.5px solid rgb(198, 196, 196);
    font-weight: 700;
}
.sub_thread{
    height: 50px;
    width: 140px;
    background-color: rgb(237, 233, 233);
    position: absolute;
    top: 60px;
    left: 30px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    text-align: center;
    font-size: 0.8em;
    padding-top: 4px;
}
.inpt input{
    height:60px ;
    width: 135px;
    z-index: 100;
    background-color: white;
    position: absolute;
    top: 88px;
    left: 33px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 3px 2px grey;
}
.sub_interpretation{
    height: 50px;
    width: 140px;
    background-color: rgb(237, 233, 233);
    position: absolute;
    top: 60px;
    left: 186px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    text-align: center;
    font-size: 0.8em;
    padding-top: 4px;
}
.inpt2 input{
    height:60px ;
    width: 135px;
    z-index: 100;
    background-color: white;
    position: absolute;
    top: 88px;
    left: 189px;
   border-radius: 10px;
    border: none;
    box-shadow: 0 0 3px 2px grey;
}
#category{
    position: absolute;
    top: 160px;
    left: 105px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 0 3px 1px grey;
}
#process{
    position: absolute;
    top: 160px;
    left: 230px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 0 3px 1px grey;
}
.mybulb{
    position: absolute;
    top: 160px;
    left: 60px;
    font-size: 15px;
}
.mychat{
    position: absolute;
    top: 160px;
    left: 80px;
    font-size: 15px;
}
.plus_button{
    position: absolute;
    top: 200px;
    left: 80px;
    font-size: 11px;
    background-color: rgb(27, 128, 243);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.summary{
    height: 50px;
    width: 300px;
    background-color: rgb(237, 233, 233);
    position: absolute;
    top: 260px;
    left: 29px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    text-align: center;
    font-size: 0.8em;
    padding-top: 4px;
}
.inpt3 input{
    height: 50px;
    width: 295px;
    position: absolute;
    top: 290px;
    left: 31px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 3px 1px grey;
}
.credit{
    position: absolute;
    top: 360px;
    left: 31px;}


    #emotion{
        position: absolute;
        top: 360px;
        left: 230px;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        box-shadow: 0 0 3px 1px grey;
    
    }

    .plus_button2{
        position: absolute;
        top: 390px;
        left: 230px;
        font-size: 11px;
        background-color: rgb(27, 128, 243);
        border: none;
        padding: 8px;
        border-radius: 5px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
    }
    .folder{
        position: absolute;
        top: 430px;
        left: 290px; 
        font-size: 18px; 
    }

 .arrow_h2{
     position: relative;
     bottom: 20px;
     left: 30px;
 }
 .arrow_h22{
     position: absolute;
     bottom: 14px;
     right: 30px;
 }

    .heading_3_top{
        position: absolute;
        top: 730px;
        left: 125px;
    }
    .heading_3{
        height: 170px;
        width: 328px;
        /* border: 1px solid rgb(147, 143, 143); */
        position: absolute;
        top: 760px;
        left: 126px;
        box-shadow: 0 0 3px 1px grey;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;

    }
    .inpt4 input{
     height: 135px;
     width: 300px;
     margin: 10px;
     border-radius: 10px;
     border: none;
     box-shadow: 0 0 3px 1px grey;
     font-size: 1.0rem;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }
    .arrow_h3{
        position: absolute;
        bottom: 2px;
        right: 16px;
    }
    .heading_4_top{
     
        position: absolute;
        top: 732px;
        left: 525px;
        
        
    }
    .heading_4{

     height: 415px;
    width: 330px;
    /* border: 1px solid rgb(147, 143, 143); */
    position: absolute;
    top: 760px;
    left: 525px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    font-weight: 600;
    box-shadow: 0 0 10px 1px rgb(186, 186, 186);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    }
.arrow_h4{
    position: absolute;
    right: 15px;
    bottom: 5px;
}
.heading_7_top{
    position: absolute;
    top: 1200px;
    left: 125px;
}
.heading_7{
    position: absolute;
    top: 1230px;
    left: 125px; 
    height: 700px;
    width: 330px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding: 10px; */
    font-weight: 600;
    box-shadow: 0 0 10px 1px rgb(186, 186, 186);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;  
}
.intro{
    margin-top: 20px;
    padding-left: 60px;
    /* border: 2px  solid red; */
   background-color: rgb(218, 217, 217);
    font-weight: 700;
    height: 25px;
    
}
.inpt5 input{
    height: 50px;
    width: 225px;
    position: absolute;
    top: 65px;
    left: 17px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 3px 1px grey;
    margin-left: 35px;
}
.thread2{
    width: 100%;
    position: absolute;
    top: 140px;
    padding-left: 40px;
    /* left: 100px; */
    /* text-align: center; */
    /* border: 2px  solid red; */
    border-top:0.5px solid rgb(188, 187, 187);
    border-bottom:0.5px solid rgb(198, 196, 196);
    font-weight: 700;
}

.example1{
    height: 50px;
    width: 240px;
    background-color: rgb(237, 233, 233);
    position: absolute;
   top: 180px;
   left: 40px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    text-align: center;
    font-size: 0.8em;
    padding-top: 4px;
}

.inpt6 input{
    height: 50px;
    width: 235px;
    /* background-color: rgb(237, 233, 233); */
    position: absolute;
    top: 205px;
    left: 42px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 3px 1px grey;

}

.plus_button3{
    position: absolute;
    top: 280px;
    left: 42px;
    font-size: 11px;
        background-color: rgb(27, 128, 243);
        border: none;
        padding: 8px;
        border-radius: 5px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
}
.argument{
    height: 50px;
    width: 240px;
    background-color: rgb(237, 233, 233);
    position: absolute;
   top: 330px;
   left: 40px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    text-align: center;
    font-size: 0.8em;
    padding-top: 4px;
}

.inpt7 input{
    height: 50px;
    width: 235px;
    /* background-color: rgb(237, 233, 233); */
    position: absolute;
    top: 360px;
    left: 42px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 3px 1px grey;

}

.plus_button4{
    position: absolute;
    top: 430px;
    left: 182px;
    font-size: 13px;
        background-color: rgb(27, 128, 243);
        border: none;
        padding: 8px;
        border-radius: 5px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
}
.conc{
    position: absolute;
    top: 470px;
    width: 100%;
    margin-top: 20px;
    padding-left: 60px;
    /* border: 2px  solid red; */
   background-color: rgb(218, 217, 217);
    font-weight: 700;
    height: 25px;
    
}

.inpt8 input{
    height: 50px;
    width: 225px;
    position: absolute;
    top: 540px;
    left: 17px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 3px 1px grey;
    margin-left: 35px;
}
.folder2{
    position: absolute;
    top: 610px;
    right: 60px;
    font-size: 18px;
}
.arrow_h71{
    position: absolute;
    top: 23px;
    left: 10px;
}
.arrow_h72{
    position: absolute;
    top: 140px;
    left: 10px;
}
.arrow_h73{
    position: absolute;
    bottom: 190px;
    left: 10px;
}
.arrow_h74{
    position: absolute;
    bottom: 3px;
    right: 10px;
}




.heading_8_top{
    position: absolute;
    top: 1200px;
    left: 525px;
}
.heading_8{
    height: 110px;
    width: 330px;
    position: absolute;
    top: 1230px;
    left: 525px;
    box-shadow: 0 0 10px 1px rgb(186, 186, 186);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    padding-left: 8px;

}
.arrow_h8{
    position: absolute;
    bottom: 2px;
    right: 12px;
}
.heading_9_top{
    position: absolute;
    top: 2000px;
    left: 325px;
    width: 340px;
}
.heading_9{
    height: 240px;
    width: 340px;
    position: absolute;
    top: 2030px;
    left: 325px;
    box-shadow: 0 0 10px 1px rgb(186, 186, 186);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    padding-left: 8px;
}
.arrow_h9{
    position: absolute;
    bottom: 3px;
    right: 10px;
}